@media(max-width: 767px) {

	#nav-menu {
		position: absolute;
		text-align: center;

		#dropdown-button {
			display: block;
			position: fixed;
			top: 23px;
			right: 30px;
			font-size: 24px;
			font-style: normal;
			z-index: 999;
		}
		&.fixed {

			.logo-graphics {
				transform: translateX(-75px);
			}

			.logo-text {
				transform: translate(30px, -30px);
			}
		}

		.logo-container {
			position: absolute;
		}

		ul {
			margin-top: 160px;
			padding: 15px 0;
			float: none;
			padding: 20px;
			background-color: rgba(0,0,0,.6);
			max-width: 80vw;
			display: none;
			transition: transform $transition;
			transform: translateX(-120%);
			z-index: 999;
			display: block;

			&.show {
				transform: translateX(0);
			}

			li {
				float: none;
				display: block;
				height: 55px;
				line-height: 55px;

				a {
					float: none;
					display: block;
				}
			}
		}

		&.fixed {

			ul {
				margin-top: 100px;

				li {
					height: 55px;
					line-height: 55px;
				}
			}
		}
	}

	header {
	    height: 96vh;

		.slogan {
			padding: 10px;

			h1 {
				font-size: 17vw;
				line-height: 1.1em;
			}
		}

		.corner-button {
			right: 30px;
			animation: button-movement-mobile .8s 1.6s forwards;
		}
	}

	#about {

		img {
			margin-top: 30px;
		}
	}

	#services {

		.service {
			padding-top: 30px;
		}
	}

	// #gallery {

	// 	.image-container {
	// 		padding: 10px 0;
	// 	}
	// }

	#prizes {

		.image-container {
			text-align: center;
			margin-top: 0;
		}
	}

	#map {

		.map-container {

			.map-contact {
				position: static;
			    padding: 45px 35px;
			}
		}
	}

	footer {

		.corner-button {
			left: 45px;
		}
	}

	#gallery-modal {
		max-width: 90vw;
		padding: 45px 20px;
		bottom: auto;

		.button-wrapper .modal-close-button i {
			right: 0;
		}
	}
}