#nav-menu {
	background-image: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.55) 55%);
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	padding-top: 0;
	padding-bottom: 0;
	height: 130px;
	transition: $transition;

	&.fixed {
		position: fixed;
		height: 70px;

		.logo-container {
			margin: 12px 15px;
		}

		.logo-graphics {
			height: 45px;
			padding-bottom: 0;
			transform: translate(-50px, 0);
		}

		.logo-text {
			width: 170px;
			height: auto;
			padding-bottom: 10px;
			padding-left: 7px;
			transform: translate(55px, -30px);
		}

		ul li {
			line-height: 70px;
			height: 70px;
		}
	}

	img {
		display: block;
		transition: $transition;
	}

	.logo-container {
		float: left;
		margin: 15px;
	}

	.logo-text {
		width: 135px;
		padding-left: 3px;
		height: auto;
	}

	.logo-graphics {
		width: auto;
		height: 85px;
		padding-bottom: 15px;
	}

	ul {
		float: right;
		padding: 0;

		li {
			display: inline-block;
			list-style-type: none;
			line-height: 131px;
			height: 90px;
			transition: $transition;

			a {
				display: inline-block;
				padding: 0 16px;
				color: $background-section;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 15px;
				cursor: pointer;
				box-sizing: border-box;
				position: relative;
				transition-property: opacity;
				transition-duration: $transition;

				&:visited {
					color: $background-section;
				}

				&::after {
					content: '';
					border-bottom: 3px solid $primary;
					position: absolute;
					bottom: 0;
					left: 2px;
					width: 0;
					transition: width .4s;
				}

				&:hover,
				&.active {
					&::after {
						width: calc(100% - 2px);
					}
					opacity: .7;
				}

			}
		}
	}
}

header {
	height: 94vh;
	position: relative;
	overflow: hidden;

	.bg-perspective-wrapper {
		perspective: 1000px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.scroll-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/hero-1.jpg);
		background-position: center center;
		background-size: cover;
		transform: scale(1.02);
		// background-attachment: fixed;
	}

	.slogan {
		transform: translateY(calc(55vh - 50% - 55px));
		max-width: 770px;
		float: right;
		text-align: center;
		pointer-events: none;

		.translation-wrapper {
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.35);
		}

		h1 {
			color: $background-section;
			line-height: 0.9em;
			padding-top: 40px;
		}

		h2 {
			color: $background-section;
			font-size: 24px;
			padding-bottom: 30px;
		}

		b {
			color: $primary;
		}
	}

	.btn {
		position: absolute;
		bottom: 35px;
		left: 0;
		right: 0;
	}

	.corner-button {
		position: fixed;
		bottom: -75px;
		right: 50px;
		z-index: 349;
		animation: button-movement .8s 1.7s forwards;
	}
}

#about {
	position: relative;

	.text-container {
		padding-top: 5px;		

		p {
			padding: 20px 0;
		}

		i,
		a {
			color: $primary;
			font-weight: 700;

			&:hover {
				transform: translateY(-2px);
			}
		}

		a {
			@extend .underline;

			i {
				padding-left: 6px;
			}
		}

		.image-container {

			img {
				box-shadow: 2px 2px 15px 0 rgba(0,0,0,.5);
				transition: $transition;

				&:hover {
					transform: translateY(-2px);
					box-shadow: 2px 4px 15px 0 rgba(0,0,0,.7);
				}
			}
		}
	}
}

#services,
#prizes {
	padding-top: 85px;
}

#services {

	.service {
		padding-bottom: 30px;

		&:hover {
			.service-icon i {
				// font-size: 56px;
				transform: scale(1.1);
			}
		}

		.service-icon {
			padding: 15px 0;
			text-align: center;

			i {
				font-size: 52px;
				width: 86px;
				height: 86px;
				line-height: 86px;
				// padding: 20px;
				// border: 1px solid $primary;
			}
		}

		.service-text {
			padding-left: 0;
			padding-right: 0;

			h4 {
				color: $primary;
				font-size: 18px;
				font-weight: 700;
				padding-bottom: 15px;
				display: block;
				text-transform: uppercase;
				text-align: center;
			}

			ul {
				text-align: center;
			}
		}
	}
}

#gallery {
	position: relative;

	.gallery-button {
		display: inline-block;
		margin-right: 25px;
		@extend .underline;
	}

	.gallery-section,
	#expanded-gallery {
		display: none;

		.image-container {
			opacity: 0;
			transition: $transition;

			&:hover {
				background-color: #f8f8f8;
			}

			.image-wrapper {
				position: relative;
				height: 350px;
				overflow: hidden;

				img {
					height: 100%;
					object-fit: cover;
					object-position: top center;
					transition: .6s;
					cursor: pointer;

					&:hover {
						transform: scale(1.04);

						+ .layer {
							background-color: $primary-hover;
						}

						~ i {
							opacity: .9;
							font-size: 45px;
						}
					}
				}

				i {
					pointer-events: none;
					position: absolute;
					font-size: 32px;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					line-height: 350px;
					color: $background-section;
					opacity: 0;
					transition: .6s;
				}
			}

			.image-container-info {
				padding: 0 20px 20px;

				p {
					font-size: 15px;
				}
			}
		}

		&.active {
			display: flex;
			// INACTIVE ANIMATION
			// animation-name: handle-movement;
			// animation-duration: 1.2s;
		}
	}

	#expanded-gallery {
		display: none;

		&.active {
			display: flex;
		}
	}

	#show-more-button {
		margin-top: 18px;
		transition: $transition;
		@extend .underline;

		+ i {
			margin-top: 18px;
			transition: .8s;
		}

		&.arrow-upwards {

			+ i {
				transform: rotateX(180deg);
			}
		}
	}
}

#prizes {
	position: relative;
	z-index: 0;

	.prizes-background {
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		pointer-events: none;
		background-image: url(../images/bg-interior.jpg);
		background-position: center center;
		background-size: cover;
		opacity: .15;
		filter: hue-rotate(150deg) grayscale(60%) blur(4px);
	}

	img {
		border-radius: 50%;
		max-width: 240px;
		max-height: 240px;
		transition: $transition;
		object-fit: cover;
		object-position: top;

		&:hover {
			transform: scale(1.015);
		}
	}

	// .section-title {
	// 	padding-bottom: 25px;
	// }

	.text-container {

		h3 {
			text-align: left;
			padding-top: 0;
			padding-bottom: 22px;
			font-size: 29px;
			color: $background-section;
		}

		ul {

			li {
				margin-left: 45px;

				b {
					margin-left: -45px;
					display: inline-block;
				}

				span {
					color: $background-section;
				}
			}
		}

		.btn {
			margin-top: 38px;
			margin-bottom: 25px;
		}
	}

	.image-container {
		margin-top: 32px;
	}
}

#map {
	position: relative;
	background-color: #F9F9F9;

	.map-container {
		position: relative;

		iframe {
			filter: grayscale(60%);
			width: 100%;
		}

		.map-contact {
			position: absolute;
			right: 35px;
			top: 45px;
			width: 520px;
			background: $background-section;
			border-radius: 4px;
			padding: 45px 55px;
			opacity: .95;
			box-shadow: 2px 2px 5px rgba(0,0,0,.15);
			transition: $transition;

			&:hover {
				box-shadow: 3px 4px 10px rgba(0,0,0,.15);
			}

			p {
				display: inline-block;
				padding: 10px 20px;
				line-height: 1.4em;
			}

			i {
				font-size: 20px;
				vertical-align: middle;
			}

			.info-paragraph:nth-child(2) i {
				transform: translateY(-12px);
			}

			.info-paragraph:hover {

				i {
					transform: scale(1.1);
				}
			}

			.info-paragraph:nth-child(2):hover i {
				transform: translateY(-12px) scale(1.1);
			}
		}
	}
}

footer {
	background-color: $background-black;
	text-align: right;
	box-shadow: 0 0 8px #000;
	position: relative;

	.corner-button {
		position: absolute;
		top: -33px;
		left: 75px;
	}

	a {
		display: inline-block;
		line-height: 120px;
		text-transform: uppercase;
		font-size: 15px;
	}
}

.underline {
	position: relative;

	&.active {
		font-weight: 700;
		color: $primary;
	}

	&::after {
		content: '';
		border-bottom: 1px solid $primary;
		position: absolute;
		bottom: -8px;
		left: 1px;
		width: 0;
		transition: width .4s;
	}	

	&:hover {

		&::after {
			width: 30px;
		}
	}
}

.visible {
	animation-name: handle-opacity;
	animation-duration: 1s;
}

@keyframes handle-opacity {
	from {
		opacity: 0;
		transform: translateY(45px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes handle-movement {
	from {
		opacity: 0;
		transform: translate(15px, 25px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes button-movement {
	from {
		bottom: -75px;
	}
	to {
		bottom: 45px;
	}
}

@keyframes button-movement-mobile {
	from {
		bottom: -75px;
	}
	to {
		bottom: 32px;
	}
}