/* Colors */
$paragraph: #7E7E7E;
$primary: #2d9681;
$primary-hover: #247867;
$secondary-color: #AEAEAE;
$dark: #242424;

/* Font sizes */
$paragraph-size: 16px;
$header-size: 32px;

/* Fonts */
$header-font: "Lato", Helvetica, Arial;
$main-font: "Lato", Helvetica, Arial;

/* Backgrounds */
$background-black: #000;
$background-dark: #373737;
$background-section: #fff;
$background-section-hover: #F7F7F7;
$background-gray: #EDEDED;
$background-select: #F1F3F3;
$light-text: #CFCFCF;

/* Social media */
// $twitter: #34C5F1;
// $linkedin: #127BB5;
// $facebook: #346296;
// $googleplus: #E84138;
// $pinterest: #B71D29;


/* Transitions */
$transition: .3s;
